.DS {
  font-family: "F1 Bold";
  font-size: 20px;
  border-bottom: 5px solid var(--color3);
  padding-bottom: 2px;
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
}

.div_ds {
  font-family: var(--f1r);
}

.standings {
  padding-top: 20px;
}

.driver_div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
  gap: 10px;
  align-items: center;
}
.points {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.driver_info {
  display: flex;
  align-items: center;
}

/* .driver_div p {
  margin: 0 10px;
} */

.flag {
  width: 30px;
  height: 30px;
}
.team-logo img {
  height: 100%;
  width: 25px;
}

.team-logo {
  display: block;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.points {
  width: 80px;
  text-align: right;
}

.position {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.flag {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.driver {
  display: block;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  text-align: left;
}

/* ======================================== */
/* franja de colores */
.team-color {
  width: 10px;
  height: 100%;
  display: inline-block;
  background-color: currentColor;
  display: block;
  flex-grow: 0;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.mercedes {
  color: var(--mcs1);
  padding: 0 0 10px 0;
}

.redbull {
  color: var(--rb1);
  padding: 0 0 10px 0;
}

.ferrari {
  color: var(--fr1);
  padding: 0 0 10px 0;
}

.astonmartin {
  color: var(--am1);
  padding: 0 0 10px 0;
}

.alpine {
  color: var(--a4);
  padding: 0 0 10px 0;
}

.rb {
  color: var(--rbca1);
  padding: 0 0 10px 0;
}

.sauber {
  color: var(--k1);
  padding: 0 0 10px 0;
}

.mclaren {
  color: var(--mc1);
  padding: 0 0 10px 0;
}

.haas {
  color: var(--haas4);
  padding: 0 0 10px 0;
}

.williams {
  color: var(--w1);
  padding: 0 0 10px 0;
}

/* ======================================== */
