.DS {
  font-family: "F1 Bold";
  font-size: 20px;
  border-bottom: 5px solid var(--color3);
  padding-bottom: 2px;
  padding-top: 10px;
  text-align: center;
}

.div_ds {
  font-family: var(--f1r);
}

.standings {
  padding-top: 20px;
}

.driver_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 6px 10px 5px;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
}

.driver_info {
  display: flex;
  align-items: center;
}

/* .driver_div p {
  margin: 0 10px;
} */

.position {
  width: 50px;
  text-align: left;
}

.flag {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.team-logo img {
  height: 20px;
  margin-left: 10px;
}

.points {
  width: 80px;
  text-align: right;
}
