.teamContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-buttons);
  border-radius: 20px;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  padding: 20px;
  margin: 0px 10px 0 10px;
}

.teamCar {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.teamName {
  cursor: default;
  font-size: 28px;
  text-align: center;
  margin: 10px 0;
  font-family: var(--f1b);
}

.driversContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  flex-wrap: nowrap;
  padding: 0px 10px 0 10px;
}

.driver-card {
  background: var(--background-buttons);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 250px;
  text-align: center;
}

.driver-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.driver-logoProfileCar {
  width: 100%;
  height: auto;
  mask-image: linear-gradient(white 90%, transparent);
}

.driver-card-content {
  padding: 20px;
}

.driver-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.driver-card-text {
  font-size: 16px;
  color: #666;
}

.infoTeam {
  cursor: default;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  gap: 20px;
  padding: 0px 10px 60px 10px;
  justify-content: center;
}

.info-card {
  background: var(--background-buttons);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 200px;
  text-align: center;
}

.info-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.info-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-value {
  font-size: 28px;
  font-weight: bold;
  color: var(--color3);
}

.totalpointsh,
.totalwinsh {
  text-decoration: underline var(--color2);
}

@media (min-width: 1400px) {
  .teamContainer {
    max-width: 100%;
    padding: 10px;
  }
  .infoTeam {
    cursor: default;
    padding: 0;
    justify-content: center;
  }
  .teamCar {
    max-width: 650px;
  }
  .otherDivDesktop {
    padding-bottom: 50%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 1400px) {
    .teamContainer {
      max-width: 95%;
      padding: 40px;
    }
    .teamCar {
      max-width: 1000px;
    }
    .teamName {
      font-size: 48px;
    }
    .driversContainer {
      gap: 60px;
    }
    .driver-card {
      width: 400px;
    }
    .driver-card-title {
      font-size: 32px;
    }
    .driver-card-text {
      font-size: 24px;
    }
    .info-title {
      font-size: 36px;
    }
    .info-value {
      font-size: 50px;
    }
    .infoTeam {
      gap: 165px;
    }
    .info-card {
      width: 300px;
    }
  }
}
