.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27vh;
  text-align: center;
  background-color: var(--background-color);
}

.countdown-content {
  font-family: var(--f1r);
  background-color: var(--background-color2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.NR {
  font-size: 40px;
  color: var(--text-color);
}

.raceC {
  font-size: 1.5rem;
  color: var(--text-color);
}

.h2RC {
  font-size: 21px;
  color: var(--color2);
}

@media (min-width: 485px) {
  .h2RC {
    font-size: 23px;
    color: var(--color2);
  }
}
@media (min-width: 374px) {
  .h2RC {
    font-size: 16px;
    color: var(--color2);
  }
  .NR {
    font-size: 30px;
  }
}
@media (min-width: 360px) {
  .h2RC {
    font-size: 15px;
    color: var(--color2);
  }
  .NR {
    font-size: 28px;
  }
}
