.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-color: var(--background-color);
  padding: 20px;
}

.buttons-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 40px;
}

.landing-button {
  margin: 10px;
  padding: 15px 30px;
  font-size: 1em;
  color: var(--text-color);
  border: 1px solid var(--button-background);
  background: var(--background-color);
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 80%;
  max-width: 400px;
  transition: all 0.3s ease;
}

.landing-button:hover {
  transition: all 0.3s ease;
  opacity: 50%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.twitter-feed-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (min-width: 600px) {
  .landing-button {
    font-size: 1.2em;
    padding: 15px 30px;
  }
}

@media (min-width: 1400px) {
  .buttons-container {
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 999px) {
  .twitter-feed-container {
    display: none;
  }
}
